html, body, #map-canvas{
    height: 100%;
    margin: 0px;
    padding: 0px
}

.table-view-cell p, .table-view-cell h4{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

.btn-outlined{
	border: none;
}

 #directions-panel{
 	height: 95%;
 	overflow: auto;
 }